{
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-exponentiation-operator",
    "transform-async-to-generator",
    "syntax-trailing-function-commas",
    "transform-inline-environment-variables",
    [
      "transform-runtime", {
        "regenerator": true
      }
    ]
  ],

  "parserOpts": {
    // Allow returns in the module
    "allowReturnOutsideFunction": true
  },

  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
